.navbar {
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.87px 2px #00000040;
    opacity: 1;
    color: #FFFFFF;
    .category {
        color: #FFFFFF !important;
    }
}

.css-1ps4owl-MuiTypography-root-MuiLink-root:hover {
    cursor: pointer;
}

.breadCrumbs {
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #1D1D1B !important;
    margin: 28px 0 !important;
    font-weight: 800 !important;
}

.css-ahj2mt-MuiTypography-root {
    text-decoration: none !important;
    color: #1D1D1B !important;
    font-weight: 800 !important;
}

.css-9mgopn-MuiDivider-root {
    border: 1px solid #1D1D1B !important;
}